/* Color Variables */

:root {
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);     /* with 75% opacity for lightbox background */
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.main {
    width: 100%;
    height: 900px;
    background-color: var(--white);
    font-family: 'Kumbh Sans', 'sans-serif';
}

.hamburger-overlay-1 {
    display: block;
    max-width: 64.266%;
    margin-left: 0;
    margin-right: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--white);
    z-index: 2;
}

.hamburger-overlay-2 {
    display: block;
    max-width: 35.734%;
    margin-left: auto;
    margin-right: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--black);
    filter: contrast(13);
    opacity: 0.8;
    z-index: 2;
}

.hamburger-menu {
    margin-top: 25px;
    margin-left: 27px;
}

.hamburger-close {
    margin-bottom: 34px;
    cursor: pointer;
}

.hamburger-menu-text > p {
    font-weight: bold;
    font-size: 18px; 
}

.hamburger-menu-text > p:not(:last-of-type) {
    margin-bottom: 20px;
}

/* Hamburger Menu Helper Classes */

/* animations for sliding overlays */

/* main overlay animation */
@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* secondary overlay animation */

@keyframes fade-in2 {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 0.7;
    }
}

@keyframes fade-out2 {
    from {
        visibility: visible;
        opacity: 0.7;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* Helper classes for animations */

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}

.fade-in2 {
    animation: fade-in2 200ms ease-in-out forwards;
}

.fade-out2 {
    animation: fade-out2 200ms ease-in-out forwards;
}

.has-fade {
    visibility: hidden;
}

.has-fade2 {
    visibility: hidden;
}




.nav-bar {
    width: 100%;
    height: 52px;
}

.desktop-links {
    display: none;
}

.avatar {
    width: 24px;
    height: 24px;
    position: relative;
    top: 4px;
    cursor: pointer;
}

.image-container {
    height: 302px;
    width: 100%;
    overflow: hidden;
    background-image: url('images/image-product-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.nav-icon-container {
    margin-top: 14px;
    margin-left: 22px;
}

.hamburger-menu-btn {
    margin-right: 12px;
    cursor: pointer;
}

.logo {
    position: relative;
    top: 1px;
    margin-right: 85px;
}

.cart-icon-container {
    display: inline-block;
    position: relative;
}

.cart-icon {
    margin-right: 18px;
/*     position: relative; */
/*     top: 3px; */
    cursor: pointer;
}

.cart-counter {
    width: 19px;
    height: 14px;
    position: absolute;
    top: -5px;
    right: 12px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 10px;
    font-weight: 700;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 1px;
}




.arrow-previous-container {
    position: absolute;
    top: 43.8%;
    left: 4%;
    width: 40px;
    background-color: var(--white);
    border-radius: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-previous {
    height: 15px;
}

.arrow-next-container {
    width: 40px;
    background-color: var(--white);
    border-radius: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 44%;
    left: 85%;
    cursor: pointer;
}

.arrow-next {
    height: 15px;
}

.text-container {
    margin-left: 23px;
}

.sneaker-company {
    color: var(--orange);
    font-size: 12px;
    letter-spacing: 1.7px;
    margin-top: 22px;
}

.main-header {
    width: 94%;
    font-size: 28px;
    margin-top: 11px;
    margin-bottom: 13px;
}

.main-description {
    color: var(--darkGrayishBlue);
    font-size: 15px;
    width: 98%;
    line-height: 1.7;
    margin-top: 0;
}

.price-container {
    display: flex;
    align-items: flex-start;
    margin-left: 23px;
}

.price {
    font-size: 29px;
    font-weight: 700;
    margin-right: 19px;
    margin-top: 8px;
}

.discount-container {
    background-color: var(--paleOrange);
    color: var(--orange);
    width: 50px;
    text-align: center;
    height: 26px;
    position: relative;
    margin-right: 95px;
    border-radius: 6px;
    margin-top: 13px;
}

.discount-amount {
    position: absolute;
    top: -13px;
    left: 8px;
    font-weight: 700;
}

.original-price {
    color: var(--grayishBlue);
    text-decoration: line-through;
    font-weight: 700;
}

.price-container {
    height: 66px;
}

.product-counter {
    width: 327px;
    height: 56px;
    margin-left: 23px;
    background-color: var(--lightGrayishBlue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 19px;
}

.minus-btn {
    cursor: pointer;
}

.plus-btn {
    cursor: pointer;
}

.product-amount {
    font-weight: 700;
}

.cart-btn {
    width: 327px;
    height: 56px;
    margin-left: 23px;
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    box-shadow: 1px 9px 18px 0px var(--paleOrange);
    cursor: pointer;
}

.cart-icon-btn {
    width: 18px;
    position: relative;
    left: 2px;
    margin-right: 13px;
    top: 2px;
}

/* Cart Screen */

.cart-inventory {
    width: 362px;
    height: 258px;
    z-index: 1;
    position: relative;
    background-color: var(--white);
    margin-left: 6px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 23px 0px var(--darkGrayishBlue);
}

.cart-header-container {
    height: 68px;
    border-bottom: 1px solid var(--grayishBlue);
    padding-top: 22px;
    padding-left: 24px;
}

.cart-header {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.cart-display-empty {
    font-weight: 700;
    color: var(--darkGrayishBlue);
    margin-top: 77px;
    margin-bottom: 0;
    margin-left: 109px;
}

.sneaker-cart-thumbnail {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 5px;
    margin-right: 12px;
}

.cart-text-container {
    display: inline-block;
    width: 67%;
    position: relative;
    top: -10px;
}

.cart-display-full {
    margin-top: 0;
    color: var(--darkGrayishBlue);
    line-height: 1.5;
}

.cart-total-price {
    font-weight: 700;
    color: var(--black);
}

.trash-icon {
    position: relative;
    top: -14px;
    left: -15px;
    cursor: pointer;
}

.checkout-btn {
    width: 312px;
    height: 56px;
    margin-left:25px;
    border: none;
    border-radius: 10px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}



/* Helper Classes */

.hidden {
    display: none;
}


/* .product-image-1 {
    width: 100%;
    height: 375px;
    position: relative;
    top: -37px;
} */

/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main {
        height: 100%;
    }

    .nav-bar {
        height: 86px;
        width: auto;
        margin-left: 77px;
        margin-right: 77px;
        border-bottom: 1px solid var(--grayishBlue);
    }

    .logo {
        margin-left: 0px;

    }

    .hamburger-menu-btn {
        display: none;
    }

    .nav-icon-container {
        display: flex;
        margin-top: 32px;
        align-items: center;
        margin-left: 0px;
    }

    .desktop-links {
        display: flex;
        justify-content: space-around;
        width: 46%;
        align-items: center;
    }

    .desktop-links > p {
        margin: 0;
        color: var(--darkGrayishBlue);
        cursor: pointer;
    }


    .cart-icon-container {
        display: inline-block;
        position: relative;
        margin-left: 118px;
    }

    .cart-icon {
        margin-right: 40px;
        font-size: 14px;
    }

    .avatar {
        width: 50px;
        height: 50px;
        top: -1px;
    }

    .main-content-container {
        
    }


/*     Image Gallery */

    .image-gallery-mobile {
        margin-top: 48px;
        display: inline-block;
        margin-left: 113px;
        border-radius: 12px;
        height: 445px;
    }

    .image-container {
        width: 345px;
        height: 345px;
        border-radius: 12px;
    }

    .arrow-next-container {
        display: none;
    }

    .arrow-previous-container {
        display: none;
    }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    main {
        height: 100%;
    }

    .nav-bar {
        height: 113px;
    }


}

