/* Color Variables */

:root {
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);     /* with 75% opacity for lightbox background */
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.main {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    font-family: 'Kumbh Sans', 'sans-serif';
}

.light-box-overlay {
    display: none;
}

.hamburger-overlay-1 {
    display: block;
    max-width: 64.266%;
    margin-left: 0;
    margin-right: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--white);
    z-index: 2;
}

.hamburger-overlay-2 {
    display: block;
    max-width: 35.734%;
    margin-left: auto;
    margin-right: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: var(--black);
    filter: contrast(13);
    opacity: 0.8;
    z-index: 2;
}

.hamburger-menu {
    margin-top: 25px;
    margin-left: 27px;
}

.hamburger-close {
    margin-bottom: 34px;
    cursor: pointer;
}

.hamburger-menu-text > p {
    font-weight: bold;
    font-size: 18px; 
}

.hamburger-menu-text > p:not(:last-of-type) {
    margin-bottom: 20px;
}


/* main overlay animation */
@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* secondary overlay animation */

@keyframes fade-in2 {
    from {
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 0.7;
    }
}

@keyframes fade-out2 {
    from {
        visibility: visible;
        opacity: 0.7;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

/* Helper classes for animations */

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}

.fade-in2 {
    animation: fade-in2 200ms ease-in-out forwards;
}

.fade-out2 {
    animation: fade-out2 200ms ease-in-out forwards;
}

.has-fade {
    visibility: hidden;
}

.has-fade2 {
    visibility: hidden;
}




.nav-bar {
    width: 100%;
    height: 52px;
}

.desktop-links {
    display: none;
}

.avatar {
    width: 24px;
    height: 24px;
    position: relative;
    top: 4px;
    cursor: pointer;
}

.avatar:hover {
    outline: 2px solid var(--orange);
    border-radius: 50%;
}

.image-container {
    height: 302px;
    width: 100%;
    overflow: hidden;
    background-image: url('images/image-product-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.nav-icon-container {
    margin-top: 14px;
    margin-left: 22px;
}

.hamburger-menu-btn {
    margin-right: 12px;
    cursor: pointer;
}

.logo {
    position: relative;
    top: 1px;
    margin-right: 85px;
}

.mobile-icon-container {

}

.cart-icon-container {
    display: inline-block;
    position: relative;
}

.cart-icon {
    margin-right: 18px;
    cursor: pointer;
}

.cart-counter {
    width: 19px;
    height: 14px;
    position: absolute;
    top: -5px;
    right: 12px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 10px;
    font-weight: 700;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 1px;
}


.arrow-previous-container {
    position: absolute;
    top: 43.8%;
    left: 4%;
    width: 40px;
    background-color: var(--white);
    border-radius: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-previous {
    height: 15px;
}

.arrow-next-container {
    width: 40px;
    background-color: var(--white);
    border-radius: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 44%;
    left: 85%;
    cursor: pointer;
}

.arrow-next {
    height: 15px;
}

.text-container {
    margin-left: 23px;
}

.sneaker-company {
    color: var(--orange);
    font-size: 12px;
    letter-spacing: 1.7px;
    margin-top: 22px;
}

.main-header {
    width: 94%;
    font-size: 28px;
    margin-top: 11px;
    margin-bottom: 13px;
}

.main-description {
    color: var(--darkGrayishBlue);
    font-size: 15px;
    width: 98%;
    line-height: 1.7;
    margin-top: 0;
}

.price-container {
    display: flex;
    align-items: flex-start;
    margin-left: 23px;
}

.price {
    font-size: 29px;
    font-weight: 700;
    margin-right: 19px;
    margin-top: 8px;
}

.discount-container {
    background-color: var(--paleOrange);
    color: var(--orange);
    width: 50px;
    text-align: center;
    height: 26px;
    position: relative;
    margin-right: 95px;
    border-radius: 6px;
    margin-top: 13px;
}

.discount-amount {
    position: absolute;
    top: -13px;
    left: 8px;
    font-weight: 700;
}

.original-price-mobile {
    color: var(--grayishBlue);
    text-decoration: line-through;
    font-weight: 700;
}

.original-price-desktop {
    display: none;
}

.price-container {
    height: 66px;
}

.product-counter {
    width: 327px;
    height: 56px;
    margin-left: 23px;
    background-color: var(--lightGrayishBlue);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 19px;
}

.minus-btn {
    cursor: pointer;
}

.plus-btn {
    cursor: pointer;
}

.product-amount {
    font-weight: 700;
}

.cart-btn {
    width: 327px;
    height: 56px;
    margin-left: 23px;
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    color: var(--white);
    font-weight: 700;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    box-shadow: 1px 9px 18px 0px var(--paleOrange);
    cursor: pointer;
    margin-bottom: 25px;
}

.cart-icon-btn {
    width: 18px;
    position: relative;
    left: 2px;
    margin-right: 13px;
    top: 2px;
}

/* Cart Screen */

.cart-inventory {
    width: 362px;
    height: 258px;
    z-index: 1;
    position: relative;
    background-color: var(--white);
    margin: 10px auto 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 23px 0px var(--darkGrayishBlue);
}

.cart-header-container {
    height: 68px;
    border-bottom: 1px solid var(--grayishBlue);
    padding-top: 22px;
    padding-left: 24px;
}

.cart-header {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.cart-display-empty {
    font-weight: 700;
    color: var(--darkGrayishBlue);
    margin-top: 77px;
    margin-bottom: 0;
    margin-left: 109px;
}

.sneaker-cart-thumbnail {
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 5px;
    margin-right: 12px;
}

.cart-text-container {
    display: inline-block;
    width: 67%;
    position: relative;
    top: -10px;
}

.cart-display-full {
    margin-top: 0;
    color: var(--darkGrayishBlue);
    line-height: 1.5;
}

.cart-total-price {
    font-weight: 700;
    color: var(--black);
}

.trash-icon {
    position: relative;
    top: -14px;
    left: -15px;
    cursor: pointer;
}

.checkout-btn {
    width: 312px;
    height: 56px;
    margin-left:25px;
    border: none;
    border-radius: 10px;
    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
}

.product-thumbnails-container {
    display: none;
}

.cart-icon-grey {
    display: none;
}


/* Helper Classes */

.hidden {
    display: none;
}


/* Extra small devices (phones, 349px and down) */
@media only screen and (max-width: 349px) {
    .logo {
        margin-right: calc(40vw - 90px);
    }
}


/* Extra small devices (phones, 400px and down) */
@media only screen and (min-width: 400px) and (max-width: 767px) {
    .nav-bar {
        width: 100%;
        height: 52px;
      }
      
      .desktop-links {
        display: none;
      }
      
      .avatar {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 20px;
        cursor: pointer;
        top: -1px;
      }
      
      .avatar:hover {
        outline: 2px solid var(--orange);
        border-radius: 50%;
      }
      
      .nav-icon-container {
        position: relative;
      }
      
      .hamburger-menu-btn {
        margin-right: 12px;
        cursor: pointer;
      }
      
      .logo {
        position: relative;
        top: 1px;
        margin-right: 85px;
      }
      
      .cart-icon-container {
        display: inline-block;
        position: absolute;
        right: 50px;
      }
      
      .cart-icon {
        margin-right: 18px;
        cursor: pointer;
      }
      
      .cart-counter {
        width: 19px;
        height: 14px;
        position: absolute;
        top: -5px;
        right: 12px;
        background-color: var(--orange);
        color: var(--white);
        font-size: 10px;
        font-weight: 700;
        border-radius: 10px;
        padding-left: 5px;
        padding-top: 1px;
      }
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .main {
        height: 100%;
    }    

    .logo {
        margin-right: calc(75vw - 90px);
    }

    .avatar {
        width: 40px;
        height: 40px;
    }

    .cart-icon {
        position: relative;
        top: -5px;
    }

    .image-container {
        margin-top: 19px;
        height: 795px;
    }

    .arrow-previous-container {
        width: 80px;
        height: 80px;
        left: 1px;
    }

    .arrow-next-container {
        width: 80px;
        height: 80px;
        left: 89.5%;
    }

    .arrow-next {
        height: 31px;
    }

    .arrow-previous {
        height: 31px;
    }

    .sneaker-company {
        font-size: 17px;
        text-align: center;
    }



    .main-header {
        font-size: 31px;
        text-align: center;
    }

    .main-description {
        font-size: 17px;
        text-align: center;
    }

    .price-container {
        margin-left: 236px;
    }

    .product-counter {
        margin-left: 245px;
    }

    .cart-btn {
        margin-bottom: 42px;
        margin-left: 245px;
    }

    .cart-inventory {
        left: 393px;
    }

    .cart-inventory {
        margin-left: 6px;
        margin-top: 10px;
    }
} 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .main {
        height: 100%;
    }

    .nav-bar {
        height: 86px;
        width: auto;
        margin-left: 61px;
        margin-right: 69px;
        border-bottom: 1px solid var(--grayishBlue);
    }

    .logo {
        margin-left: 0px;

    }

    .hamburger-menu-btn {
        display: none;
    }

    .nav-icon-container {
        display: flex;
        margin-top: 32px;
        align-items: center;
        margin-left: 0px;
    }

    .desktop-links {
        display: flex;
        width: 46%;
        align-items: center;
    }

    .desktop-links > p {
        margin: 0;
        color: var(--darkGrayishBlue);
        cursor: pointer;
    }

    .product-thumbnail {
        cursor: pointer;
        position: relative;
        width: 75px;
        height: 75px;
        border-radius: 10px;
    }

    .product-thumbnail:hover  {
        filter: opacity(50%);
    }


    .thumbnail-outline {
        border-radius: 10px;
        height: 87px;
    }

    .cart-icon-container {
        display: inline-block;
        position: relative;
        margin-left: 161px;
        margin-top: 7px;
        margin-right: 46px;
    }

    .cart-icon {
        margin-right: 40px;
        font-size: 14px;
    }
    

    .avatar {
        width: 50px;
        height: 50px;
        top: -1px;
    }

    .minus-btn-container {
        padding-bottom: 8px;
        cursor: pointer;
    }

    .plus-btn-container {
        cursor: pointer;
    }
    

    .cart-btn:hover {
        filter: opacity(75%);
    }

    .minus-btn:hover {
        filter: opacity(75%);
    }

    .plus-btn:hover {
        filter: opacity(75%);
    }


/*     Image Gallery */

    .image-gallery-mobile {
        margin-top: 48px;
        display: inline-block;
        margin-left: 113px;
        border-radius: 12px;

        margin-top: 91px;
        margin-left: 61px;
        height: 600px;
    }

    .image-container {
        width: 345px;
        height: 345px;
        border-radius: 12px;
        cursor: pointer;
    }

    .arrow-next-container {
        display: none;
    }

    .arrow-previous-container {
        display: none;
    }

    .cart-icon-grey {
        display: inline-block;
    }

    .lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
    }

    .lightbox-content-container {
        width: 73%;
        height: 78%;
        display: flex;
        justify-content: flex-end;
        margin-top: 81px;
    }

    .lightbox-close {
        fill: var(--white);
        height: 38px;
        width: 38px;
        cursor: pointer;
        position: absolute;
        top: 50px;
    }

    .lightbox-close:hover {
        fill: var(--orange);
    }
      
    .lightbox-image {
        background-image: url('images/image-product-1.jpg');
        position: absolute;
        left: 50%;
        top: 46%;
        transform: translate(-50%, -50%);
        width: 450px;
        height: 450px;
        background-size: contain;
        object-fit: contain;
        border-radius: 16px;
    }

    .lightbox-arrow-previous-container {
        position: absolute;
        top: 43.8%;
        left: -7%;
        width: 58px;
        background-color: var(--white);
        border-radius: 50%;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .lightbox-arrow-next-container {
        width: 58px;
        background-color: var(--white);
        border-radius: 50%;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 44%;
        left: 94%;
        cursor: pointer;
    }

    .lightbox-arrow-previous {
        height: 37px;
    }

    .lightbox-arrow-next {
        height: 37px;
    }

    .lightbox-arrow-previous:hover,
    .lightbox-arrow-next:hover {
      fill: var(--orange);

    }

    .lightbox-thumbnail-container {
        display: inline-block;
        height: 78px;
        align-self: flex-end;
        position: relative;
        left: 1px;
        top: 19px;
    }

    .lightbox-thumbnail {
        cursor: pointer;
        width: 87px;
        height: 87px;
        border-radius: 10px;
        margin-right: 20px;
    }

    /* 992 Pasted Query stuff */


    .nav-icon-container {
        margin-top: 13px;
        height: 84px;
    }

    .logo {
        margin-right: 56px;
    }

    .desktop-links > p {
        font-size: 14px;
        justify-content: initial;
        height: 87px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        position: relative;
    }

    .desktop-links > p::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: var(--orange);
        transform: scaleX(0);
        transform-origin: left;
    }

    .desktop-links > p:hover::after {
        transform: scaleX(1);
    }

    .desktop-links > p:hover {
        color: var(--black);
    }

    .desktop-links > p:not(:last-of-type) {
        margin-right: 33px;
    }

    .cart-icon {
        display: none;
    }

    .cart-icon-grey {
        margin-right: 0;
        cursor: pointer;
        font-size: 14px;
    }

    .cart-icon-grey:hover {
        filter: brightness(0%);
    }

    .avatar {
        top: 1px;
    }

    .image-gallery-mobile {

    }

    .main-content-container {
        display: flex;
    }

    .sneaker-company {
        text-align: left;
    }

    .main-header {
        font-size: 34px;
        width: 71%;
        line-height: 1.1;
        margin-bottom: 34px;
        text-align: left;
    }

    .main-description {
        width: 65%;
        font-size: 14px;
        margin-bottom: 13px;
        text-align: left;
    }

    .cart-counter-container {
        display: flex;
    }

    .product-counter {
        width: 157px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: 0;
    }

    .price-container {
        height: 52px;
        margin-left: 0;
    }

    .price {
        margin-bottom: 0;
    }

    .original-price-mobile {
        display: none;
    }

    .original-price-desktop {
        margin-top: 0;
        display: inline-block;
        margin-bottom: 36px;
        color: var(--grayishBlue);
        text-decoration: line-through;
        font-weight: 700;
    }

    .cart-btn {
        width: 218px;
        margin-left: 16px;
        box-shadow: 1px 18px 23px -12px var(--orange);
    }

    .cart-counter {
        top: -6px;
        right: -6px;
    }

    .content-wrapper {
        padding-top: 88px;
        padding-left: 84px;
    }

    .sneaker-company {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .product-thumbnails-container {
        margin-top: 31px;
        display: flex;
        justify-content: space-between;
    }

    .product-thumbnail {

    }

    .cart-inventory {
        position: absolute;
        left: 533px;
        top: -117px;
        box-shadow: 0px 10px 22px -8px var(--darkGrayishBlue);
        margin-top: 0;
    }

    .image-container {
        overflow: visible;
    }

    .text-container {
        margin-left: 0px;
    }

} 


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .lightbox-arrow-previous-container {
        position: absolute;
        top: 43.8%;
        left: -5%;
        width: 58px;
        background-color: var(--white);
        border-radius: 50%;
        height: 58px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .lightbox-thumbnail-container {
        display: inline-block;
        height: 78px;
        align-self: flex-end;
        position: relative;
        left: -26px;
        top: 69px;
    }

    .lightbox-content-container {
        width: 69%;
        height: 77%;
        display: flex;
        justify-content: flex-end;
        margin-top: 81px;
    }

    .lightbox-image {
        background-image: url('images/image-product-1.jpg');
        position: absolute;
        left: 50%;
        top: 46%;
        transform: translate(-50%, -50%);
        width: 550px;
        height: 550px;
        background-size: contain;
        object-fit: contain;
        border-radius: 16px;
    }

    .lightbox-close {
        fill: var(--white);
        height: 38px;
        width: 38px;
        cursor: pointer;
        position: absolute;
        top: 9px;
        left: 877px;
    }

    .nav-bar {
        margin-left: 163px;
        height: 102px;
        margin-right: 168px;
    }

    .nav-icon-container {
        margin-top: 13px;
        height: 84px;
    }

    .logo {
        margin-right: 56px;
    }

    .desktop-links > p {
        font-size: 15px;
        justify-content: initial;
        height: 118px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        position: relative;
    }

    .desktop-links > p::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: var(--orange);
        transform: scaleX(0);
        transform-origin: left;
    }

    .desktop-links > p:hover::after {
        transform: scaleX(1);
    }

    .desktop-links > p:hover {
        color: var(--black);
    }

    .desktop-links > p:not(:last-of-type) {
        margin-right: 33px;
    }

    .cart-icon-container {
        margin-left: 244px;
        margin-top: 7px;
        margin-right: 46px;
    }
    
    .cart-icon {
        display: none;
    }

    .cart-icon-grey {
        margin-right: 0;
        cursor: pointer;
        font-size: 14px;
    }

    .cart-icon-grey:hover {
        filter: brightness(0%);
    }


    .avatar {
        top: 1px;
    }

    .image-gallery-mobile {
        margin-top: 91px;
        margin-left: 162px;
        height: 600px;
    }

    .image-container {
        width: 445px;
        height: 445px;
        border-radius: 16px;
    }

    .main-content-container {
        display: flex;
    }

    .main-header {
        font-size: 44px;
        width: 71%;
        line-height: 1.1;
        margin-bottom: 34px;
    }

    .main-description {
        width: 65%;
        font-size: 16px;
        margin-bottom: 13px;
    }

    .cart-counter-container {
        display: flex;
    }

    .product-counter {
        width: 157px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .price-container {
        height: 52px;
    }

    .price {
        margin-bottom: 0;
    }

    .original-price-mobile {
        display: none;
    }

    .original-price-desktop {
        margin-top: 0;
        display: inline-block;
        margin-bottom: 36px;
        color: var(--grayishBlue);
        text-decoration: line-through;
        font-weight: 700;
    }

    .cart-btn {
        width: 272px;
        margin-left: 16px;
        box-shadow: 1px 18px 23px -12px var(--orange);
    }

    .cart-counter {
        top: -6px;
        right: -6px;
    }

    .content-wrapper {
        padding-top: 131px;
        padding-left: 102px;
    }

    .sneaker-company {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .product-thumbnails-container {
        margin-top: 31px;
        display: flex;
        justify-content: space-between;
    }

    .product-thumbnail {
        width: 87px;
        height: 87px;
        border-radius: 10px;
    }

    .cart-inventory {
        position: absolute;
        left: 654px;
        top: -117px;
        box-shadow: 0px 10px 22px -8px var(--darkGrayishBlue);
    }

    .image-container {
        overflow: visible;
    }
}


/* Very large devices (Very large laptops and desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
    .nav-bar {
        margin-left: 163px;
        height: 102px;
        margin-right: 168px;
    }

    .nav-icon-container {
        margin-top: 13px;
        height: 84px;
    }

    .logo {
        margin-right: 56px;
    }

    .desktop-links > p {
        font-size: 15px;
        justify-content: initial;
        height: 118px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        position: relative;
    }

    .desktop-links > p::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: var(--orange);
        transform: scaleX(0);
        transform-origin: left;
    }

    .desktop-links > p:hover::after {
        transform: scaleX(1);
    }

    .desktop-links > p:hover {
        color: var(--black);
    }

    .desktop-links > p:not(:last-of-type) {
        margin-right: 33px;
    }

    .cart-icon-container {
        margin-left: 287px;
        margin-top: 7px;
        margin-right: 46px;
    }
    
    .cart-icon {
        display: none;
    }

    .cart-icon-grey {
        margin-right: 0;
        cursor: pointer;
        font-size: 14px;
    }

    .cart-icon-grey:hover {
        filter: brightness(0%);
    }


    .avatar {
        top: 1px;
    }

    .image-gallery-mobile {
        margin-top: 91px;
        margin-left: 211px;
        height: 600px;
    }

    .image-container {
        width: 445px;
        height: 445px;
        border-radius: 16px;
    }

    .main-content-container {
        display: flex;
    }

    .main-header {
        font-size: 44px;
        width: 71%;
        line-height: 1.1;
        margin-bottom: 34px;
    }

    .main-description {
        width: 65%;
        font-size: 16px;
        margin-bottom: 13px;
    }

    .cart-counter-container {
        display: flex;
    }

    .product-counter {
        width: 157px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .price-container {
        height: 52px;
    }

    .price {
        margin-bottom: 0;
    }

    .original-price-mobile {
        display: none;
    }

    .original-price-desktop {
        margin-top: 0;
        display: inline-block;
        margin-bottom: 36px;
        color: var(--grayishBlue);
        text-decoration: line-through;
        font-weight: 700;
    }

    .cart-btn {
        width: 272px;
        margin-left: 16px;
        box-shadow: 1px 18px 23px -12px var(--orange);
    }

    .cart-counter {
        top: -6px;
        right: -6px;
    }

    .content-wrapper {
        padding-top: 131px;
        padding-left: 102px;
    }

    .sneaker-company {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .product-thumbnails-container {
        margin-top: 31px;
        display: flex;
        justify-content: space-between;
    }

    .product-thumbnail {
        width: 87px;
        height: 87px;
        border-radius: 10px;
    }

    .cart-inventory {
        position: absolute;
        left: 770px;
        top: -117px;
        box-shadow: 0px 10px 22px -8px var(--darkGrayishBlue);
    }

    .image-container {
        overflow: visible;
    }

    .lightbox-close {
        top: 138px;
        left: 956px;
    }

    .lightbox-thumbnail-container {
        left: -33px;
        top: -6px;
    }
}


/* Extra large devices (large laptops and desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {
    .cart-icon-container {
        margin-left: 546px;
    }

    .desktop-links > p {
        font-size: 16px;
    }

    .desktop-links > p:not(:last-of-type) {
        margin-right: 53px;
    }

    .cart-inventory {
        left: 1178px;
    }

    .lightbox-thumbnail-container {
        left: -146px;
    }

    .sneaker-company {
        font-size: 15px;
    }

    .main-header {
        font-size: 46px;
    }

    .main-description {
        font-size: 18px;
        margin-bottom: 32px;
    }

    .original-price-desktop {
        margin-bottom: 68px;
    }

    .lightbox-close {
        top: 160px;
        left: 1197px;
    }
}